<section class="container events-section">
  <div class="event-container">
    <div class="flex-logo-absolute">
      <img src="/img/felek-logo.svg" class="icon-logo" alt="Felek Logo" />
    </div>
    <h2 class="events-banner-text">EVENTS</h2>
    <div class="events-container">
      <div class="event">
        <img
          src="/res/icons/Lockup_Vol2-221.svg"
          class="pending-icon"
          alt="Pending Event Icon"
        />
        <p class="pending-text">PENDING</p>
      </div>
      <div class="event">
        <img
          src="/res/icons/Lockup_Vol2-221.svg"
          class="pending-icon"
          alt="Pending Event Icon"
        />
        <p class="pending-text">PENDING</p>
      </div>
    </div>
  </div>
</section>
