<header>
  <nav>
    <ul class="desktopNav">
      <li><a href="#" class="nav-btn">Home</a></li>
      <li><a href="#services" class="nav-btn">Services</a></li>
      <li><a href="#services" class="nav-btn">Packs</a></li>
      <li><a href="#services" class="nav-btn">About</a></li>
    </ul>

    <ul class="mobileNav">
      <li class="logo">
        <img class="menu-logo" src="img/felek-logo.svg" alt="Felek big-logo" />
      </li>
      <li>
        <input type="checkbox" id="menu-toggle" class="menu-checkbox" />
        <label for="menu-toggle" class="hamburger">
          <div></div>
          <div></div>
          <div></div>
        </label>
      </li>
    </ul>
  </nav>
  <ul class="mobileDropdown">
    <li><a href="#" class="nav-btn">Home</a></li>
    <li><a href="#services" class="nav-btn">Services</a></li>
    <li><a href="#services" class="nav-btn">Packs</a></li>
    <li><a href="#services" class="nav-btn">About</a></li>
  </ul>
</header>
