<section class="container services-section" id="services">
  <h2 class="title service-text">Discuss Your Ideas</h2>
  <ul class="services">
    <li class="service-item" data-info="Remove Noises and waves">
      <div class="default-text">
        <img
          src="/res/icons/Lockup_Vol2-01.svg"
          class="list-icon"
          alt="Audio Cleanup Icon"
        />
        <p>AUDIO CLEAN-UP</p>
      </div>
      <span class="hover-text">Audio clean-up</span>
    </li>

    <li
      class="service-item"
      data-info="<ul><li>Background Noises</li><li>Car crashing sound</li></ul>"
    >
      <div class="default-text">
        <img
          src="/res/icons/Lockup_Vol2-02.svg"
          class="list-icon"
          alt="Sound Design Icon"
        />
        <p>SOUND DESIGN / SFX</p>
      </div>
      <span class="hover-text">Sound Design / SFX</span>
    </li>

    <li
      class="service-item"
      data-info="<ul><li>Mixing</li><li>Mastering</li><li>Quality Control</li><li>Collaborations</li></ul>"
    >
      <div class="default-text">
        <img
          src="/res/icons/Lockup_Vol2-211.svg"
          class="list-icon"
          alt="Audio Engineering Icon"
        />
        <p>AUDIO ENGINEERING</p>
      </div>
      <span class="hover-text">Audio Engineering</span>
    </li>

    <li
      class="service-item"
      data-info="<ul><li>Beat creation</li><li>Ableton Manipulation</li><li>FL Studio Techniques</li></ul>"
    >
      <div class="default-text">
        <img
          src="/res/icons/Lockup_Vol2-47.svg"
          class="list-icon"
          alt="Music Production Icon"
        />
        <p>MUSIC PRODUCTION</p>
      </div>
      <span class="hover-text">Music Production</span>
    </li>
  </ul>
</section>
